include uneye/weights/weights_1+2+3
include uneye/weights/weights_Andersson
include uneye/weights/weights_dataset1
include uneye/weights/weights_dataset2
include uneye/weights/weights_dataset3
include uneye/weights/weights_synthetic 
