include training/weights_1+2+3
include training/weights_Andersson
include training/weights_dataset1
include training/weights_dataset2
include training/weights_dataset3
include training/weights_synthetic 
